SERVICE_NAME=ledger-service
SERVICE_VERSION=0.0.0-SNAPSHOT
HTTP_ADDRESS=:8080
LOG_LEVEL=info
ENVIRONMENT=local
SHUTDOWN_TIMEOUT=50s
HTTP_READ_HEADER_TIMEOUT=5s
HTTP_READ_TIMEOUT=15s
HTTP_WRITE_TIMEOUT=15s
HTTP_IDLE_TIMEOUT=60s
